new-file-that-ignored
new-file-that-ignored
new-file-that-ignored
new-file-that-ignored
new-file-that-ignored
new-file-that-ignored
new-file-that-ignored
new-file-that-ignored
new-file-that-ignored
new-file-that-ignored
new-file-that-ignored

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

another-ignored-file
